<div id="ContactUs" class="jumbotron" style="margin-bottom: 20px;">
    <div class="container">
      <h1 class="text-center Montserrat">Contact Us</h1>
      <p class="lead text-center">We would like to hear your queries!</p>
      <hr class="">
      <div class="row border p-1">
        <div class="col">
          <img src="../../../assets/contact.jpg" width=400 height=400 alt="">
        </div>
        <div class="col text-center" style="padding-top: 150px;">
          <p><span class="material-icons d-inline-block align-top mr-1">location_on</span> <b >Mumbai, India</b></p>
        </div>
        <div class="col text-center" style="padding-top: 150px;">
          <p><span class="material-icons d-inline-block align-top mr-1">call</span> <b> +91 8484994321</b></p>
        </div>
        <div class="col text-center" style="padding-top: 150px;">
          <p><span class="material-icons d-inline-block align-top mr-1">email</span> <b> dashbank7@gmail.com</b></p>
        </div>
      </div>
    </div>
    <br>
  </div>
  

