<div class="container border p-4">
    <div class="row">
        <div class="col">
            Account Number : {{accNo}}
        </div>
        <div class="col">
            Balance : {{bal}}
        </div>
    </div>
    <!-- recent transaction -->
    <table class="table mt-5 border">
        <thead class="text-center">
            <tr>
                <th>To Account Number</th>
                <th>Amount Transfered</th>
                <th>Date(DD/MM/YY)</th>
                <th>Remarks</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr *ngFor="let t of trList">
                <td>{{t.paidToAccNum}}</td>
                <td>{{t.amount}}</td>
                <td>{{t.transTime}}</td>
                <td>{{t.remark}}</td>
            </tr>
        </tbody>
    </table>
</div>
