

<div class="container align-center border">
    <form #fundTransferForm="ngForm" (ngSubmit)="fundTransferForm.resetForm()">
        <div class="">
            <div class="row mt-5 form-group">
                <div class="col-md-6">
                    <label for="">
                        <h5>Choose Fund Transfer Type<span class="text-danger">*</span></h5>
                    </label>
                </div>
                <div class="dropdown col-md-6">
                    <select class="form-select" aria-label="Default select example" name="Mode" #Mode="ngModel" [(ngModel)]="fund.Mode">
                        <option selected disabled>Mode of Transfer</option>
                        <option value="NEFT">NEFT</option>
                        <option value="RTGS">RTGS</option>
                        <option value="IMPS">IMPS</option>
                      </select>
                </div>
            </div>

            <!-- List of Beneficiaries -->
            <div class="row mt-5 form-group">
                <div class="col-md-6">
                    <label for="">
                        <h5>Choose Beneficiary<span class="text-danger">*</span></h5>
                    </label>
                </div>
                <div class="dropdown col-md-6">
                    <select class="form-select" aria-label="Default select example" name="FromAccount" #FromAccount="ngModel" [(ngModel)]="fund.FromAccount">
                        <option selected disabled>List of Beneficiaries</option>
                        <option *ngFor="let b of bList" [value]="b.bAccountNumber">{{b.nickname}}</option>
                      </select>
                </div>
            </div>

            
            <div class="row mt-5 form-group">
                <div class="col-md-6">
                    <label for="">
                        <h5>Amount<span class="text-danger">*</span></h5>
                    </label>
                </div>
                <div class="col-md-6 form-group">
                    <input name="Amount" #Amount="ngModel" [(ngModel)]="fund.Amount" type="number"
                        placeholder="Enter Amount" class="form-control" required min=100 max=100000>
                    <div *ngIf="!Amount?.valid && (Amount?.dirty || Amount?.touched)" class="error">
                        <div *ngIf="Amount.errors?.required">
                            <small class="text-danger">Amount is required</small>
                        </div>
                        <div *ngIf="Amount.errors?.min || Amount.errors?.max">
                            <small class="text-danger">Minimum 100, Maximum 100000</small>
                        </div>
                    </div>
                </div>
            </div>
            <!--Transaction Date-Time-->
            
            <!--Maturity Instructions-->
            <!-- <div class="row mt-5 form-group">
                <div class="col-md-6">
                    <label for="">
                        <h5>Maturity Instructions<span class="text-danger">*</span></h5>
                    </label>
                </div>
                <div class="col-md-6 form-group">
                    <input name="MaturityInstructions" #MaturityInstructions="ngModel" [(ngModel)]="fund.MaturityInstructions" type="text"
                        placeholder="Enter Maturity Instructions" class="form-control" required >
                    <div *ngIf="!MaturityInstructions?.valid && (MaturityInstructions?.dirty || MaturityInstructions?.touched)" class="error">
                        <div *ngIf="MaturityInstructions.errors?.required">
                            <small class="text-danger">Maturity Instructions are required</small>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--Remark-->
            <div class="row mt-5 form-group">
                <div class="col-md-6">
                    <label for="">
                        <h5>Remarks</h5>
                    </label>
                </div>
                <div class="col-md-6 form-group">
                    <input name="Remark" #Remark="ngModel" [(ngModel)]="fund.Remark" type="text"
                        placeholder="Enter Remarks" class="form-control">
                </div>
            </div>
            <!--Buttons-->
            <div class="row mt-3 form-group py-4">
                    <div class="row">
                        <div class="col">
                            <button (click)="fundTransferForm.resetForm()" class="float-end btn btn-danger mt-3">Reset</button>
                        </div>
                        <div class="col">
                            <button (click)="submitTransferForm(fundTransferForm.value.Amount, fundTransferForm.value.FromAccount, fundTransferForm.value.Mode, fundTransferForm.value.Remark)" class="btn btn-success mt-3 ml-3">Make Payment</button> 
                        </div>
                        <div class="col">
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="transactionReceipt()" class="float-end btn btn-secondary mt-3">Get Receipt</button>
                        </div>
                    </div>
            </div>
        </div>
    </form>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Transaction Receipt</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mt-3">
              <div class="col">
                  Reference ID
              </div> 
              <div class="col">
                  {{receipt.referenceId}}
              </div>
          </div>
          <div class="row mt-3">
                <div class="col">
                    Mode :
                </div>
                <div class="col">
                    {{receipt.mode}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    Paid To Account:
                </div> 
                <div class="col">
                    {{receipt.paidToAccNum}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    Amount :
                </div> 
                <div class="col">
                    {{receipt.amount}}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    On
                </div>
                <div class="col">
                    {{receipt.transTime.slice(0,10)+' '+receipt.transTime.slice(11,16)}}
                </div> 
            </div>
            <div class="row mt-3">
                <div class="col">
                    Remarks :
                </div>
                <div class="col">
                    {{receipt.remark}}
                </div> 
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>