<div class="text-center mt-3">
    <h2>Forgot Password</h2>
</div>

<div class="container border w-50 p-5 mt-5">
    <form #forgotForm="ngForm">
        <!-- user id -->
        <div class="row mb-5">
            <div class="col-md-6">
                <label for=""><h5>Enter User ID</h5></label>
            </div>
            <div class="col-md-6">
                <input name="userId" #userId="ngModel" [(ngModel)]="forgot.userId" type="number" class="form-control" min=1000000 max=9999999 required/>
                <div *ngIf="!userId?.valid && (userId?.dirty || userId?.touched)" class="error">
                    <div *ngIf="userId.errors?.required">
                        <small class="text-danger">User ID required</small>
                    </div>
                    <div *ngIf="userId.errors?.min || userId.errors?.max">
                        <small class="text-danger">User ID must be 7 digit</small>
                    </div>
                </div>
            </div>
        </div>
        <hr>    
        <!-- otp -->
        <div class="row mt-5">
            <div class="col-md-6">
                <label for=""><h5>Enter OTP</h5></label>
            </div>
            <div class="col-md-6">
                <input type="number" name="otp" #otp="ngModel" [(ngModel)]="forgot.otp" class="form-control" required min=100000 max=999999>
                <div *ngIf="!otp?.valid && (otp?.dirty || otp?.touched)" class="error">
                    <div *ngIf="otp.errors?.required">
                        <small class="text-danger">OTP is required</small>
                    </div>
                    <div *ngIf="otp.errors?.min || otp.errors?.max">
                        <small class="text-danger">OTP must be 6 digit</small>
                    </div>
                </div>
                <button (click)="getOtp(forgotForm.value.userId)" class="btn btn-primary btn-sm mt-3 float-end" [disabled]="userId.invalid">Get OTP</button>
            </div>
        </div>
        <!-- submit button -->
        <div class="row mt-5">
            <div class="col-md-6">
                <a routerLink="/login" class="btn btn-danger float-end">Back</a>
            </div>
            <div class="col-md-6">
                <button (click)="goToSetNewPassword(forgotForm.value.otp, forgotForm.value.userId)" [disabled]="forgotForm.invalid" class="btn btn-success">Proceed</button>
            </div>
        </div>
    </form>
</div>
