<div class="border p-5">
    <form #changePasswordForm="ngForm" (ngSubmit)="changePasswordForm.resetForm()">
        <div class="row">
            <div class="col">
                <label for="">Enter Password<span class="text-danger">*</span></label>
            </div>
            <div class="col">
                <input type="password" class="form-control" name="loginPassword" #loginPassword="ngModel" 
                [(ngModel)]="change.loginPassword" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                <div *ngIf="!loginPassword?.valid && (loginPassword?.dirty || loginPassword?.touched)" class="error">
                    <div *ngIf="loginPassword.errors?.required">
                        <small class="text-danger">Login Password required</small>
                    </div>
                    <div *ngIf="loginPassword.errors?.pattern">
                        <small class="text-danger">Minimum 8 characters and atleast one lowercase, uppercase, special (except '#'), number</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="">Confirm Login Password<span class="text-danger">*</span></label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="confirmLoginPassword" #confirmLoginPassword="ngModel" 
                [(ngModel)]="change.confirmLoginPassword" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                <div *ngIf="!confirmLoginPassword?.valid && (confirmLoginPassword?.dirty || confirmLoginPassword?.touched)" class="error">
                    <div *ngIf="confirmLoginPassword.errors?.required">
                        <small class="text-danger">Confirm Login Password required</small>
                    </div>
                    <div *ngIf="confirmLoginPassword.errors?.pattern">
                        <small class="text-danger">Minimum 8 characters and atleast one lowercase, uppercase, special (except '#'), number</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <button [disabled]="changePasswordForm.invalid" (click)="changeLoginPassword(changePasswordForm.value.loginPassword, changePasswordForm.value.confirmLoginPassword)" class="btn btn-primary btn-sm">Change Login Password</button>
        </div>
    </form>

        <form #transactionForm="ngForm" (ngSubmit)="transactionForm.form.reset()">
        <div class="row mt-5">
            <div class="col">
                <label for="">Enter Transaction Password<span class="text-danger">*</span></label>
            </div>
            <div class="col">
                <input type="password" class="form-control" name="transactionPassword" #transactionPassword="ngModel" 
                [(ngModel)]="change.transactionPassword" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                <div *ngIf="!transactionPassword?.valid && (transactionPassword?.dirty || transactionPassword?.touched)" class="error">
                    <div *ngIf="transactionPassword.errors?.required">
                        <small class="text-danger">Transaction Password required</small>
                    </div>
                    <div *ngIf="transactionPassword.errors?.pattern">
                        <small class="text-danger">Minimum 8 characters and atleast one lowercase, uppercase, special, special (except '#'), number</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="">Confirm Transaction Password<span class="text-danger">*</span></label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="confirmTransactionPassword" #confirmTransactionPassword="ngModel" 
                [(ngModel)]="change.confirmTransactionPassword" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                <div *ngIf="!confirmTransactionPassword?.valid && (confirmTransactionPassword?.dirty || confirmTransactionPassword?.touched)" class="error">
                    <div *ngIf="confirmTransactionPassword.errors?.required">
                        <small class="text-danger">Confirm Login Password required</small>
                    </div>
                    <div *ngIf="confirmTransactionPassword.errors?.pattern">
                        <small class="text-danger">Minimum 8 characters and atleast one lowercase, uppercase, special (except '#'), number</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- Submit button -->
        <div class="mt-5 text-center">
            <button (click)="changeTransactionPassword(transactionForm.value.transactionPassword, transactionForm.value.confirmTransactionPassword)" 
            [disabled]="transactionForm.invalid" class="btn btn-primary btn-sm">Change Transaction Password</button>
        </div>
    </form>
</div>
