<div class="text-center mt-5">
    <h2>Set New Password</h2>
</div>
<div class="container mt-5 w-50 border p-5">
    <form #setPasswordForm="ngForm">
        <!-- login -->
        <div class="row">
            <div class="col">
                <label for="">Login Password<span class="text-danger">*</span></label>
            </div>
            <div class="col">
                <input type="password" class="form-control" name="loginPassword" #loginPassword="ngModel" [(ngModel)]="set.loginPassword" 
                required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                <div *ngIf="!loginPassword?.valid && (loginPassword?.dirty || loginPassword?.touched)" class="error">
                    <div *ngIf="loginPassword.errors?.required">
                        <small class="text-danger">Login Password required</small>
                    </div>
                    <div *ngIf="loginPassword.errors?.pattern">
                        <small class="text-danger">Minimum 8 characters and atleast one lowercase, uppercase, special, number</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- confirm -->
        <div class="row mt-5">
            <div class="col">
                <label for="">Confirm Login Password<span class="text-danger">*</span></label>
            </div>
            <div class="col">
                <input type="text" class="form-control" name="confirmLoginPassword" #confirmLoginPassword="ngModel" 
                [(ngModel)]="set.confirmLoginPassword" required pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{8,}">
                <div *ngIf="!confirmLoginPassword?.valid && (confirmLoginPassword?.dirty || confirmLoginPassword?.touched)" class="error">
                    <div *ngIf="confirmLoginPassword.errors?.required">
                        <small class="text-danger">Confirm Login Password required</small>
                    </div>
                    <div *ngIf="confirmLoginPassword.errors?.pattern">
                        <small class="text-danger">Minimum 8 characters and atleast one lowercase, uppercase, special, number</small>
                    </div>
                </div>
            </div>
        </div>
        <!-- submit -->
        <div class="form-group mt-5 text-center">
            <div class="row">
                <div class="col">
                    <a routerLink="/login" class="btn btn-danger">Back</a>
                </div>
                <div class="col">
                    <button (click)="setPassword(setPasswordForm.value.loginPassword, setPasswordForm.value.confirmLoginPassword)" [disabled]="setPasswordForm.invalid" class="btn btn-success">Change Password</button>
                </div>
            </div>
        </div>
    </form>
</div>